<div>
    <img src="https://d.newsweek.com/en/full/1920025/cat-its-mouth-open.jpg" width="500" height="500" alt="">

    <a href="/auth/logout"><button>Logout</button></a>
    <a href="/">Return to Home Page</a>
</div>