<div>
    <h1>This is a Private Page</h1>
    <img src="https://media.giphy.com/media/jN86rcdOyrpyo/giphy.gif" alt="">
    <a href="/auth/logout"><button>Logout</button></a>
    <a href="/">Return to Home Page</a>
</div>
